<mat-card class="list-content" id="{{ uid }}">
  <div class="widget-action">
    <button mat-icon-button class="md-icon-button md-button" matTooltip="Open {{ title }} menu" matTooltipPosition="above" attr.aria-label="Open {{ title }} menu" [matMenuTriggerFor]="menu">
      <mat-icon style="font-size:18px">more_vert</mat-icon>
    </button>
  </div>

  <span (click)="handleCardClick()">
    <div class="icon-container">
      <mat-icon *ngIf="mdIcon" class="widget-icon">{{ mdIcon }}</mat-icon>
      <fa-icon *ngIf="faIcon" [classes]="['widget-icon']" [icon]="['fas', faIcon]"></fa-icon>
    </div>
    <div class="title-container">
      <h4>{{ title }}</h4>
    </div>
  </span>
</mat-card>

<!-- Menu -->
<mat-menu #menu="matMenu" class="custom-menu-panel">
  <!-- Remove widget button -->
  <button mat-menu-item class="menu-item" (click)="handleCardDelete()">
    <mat-icon>delete</mat-icon>
    Remove from home
  </button>
</mat-menu>
